@font-face {
    font-family: 'pixel';
    src: local('pixel'),
    url("assets/fonts/Fifaks10Dev1.ttf");
}

html, body {
    width: 100%;
    background-color: #191d24;
    color: #ececec;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 5vw;
    font-family: 'pixel';
    transition: 0.5s;
}

button {
    font-family: 'pixel';
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    white-space: pre-line;

}

a {
    text-decoration: none;
}

.wrapper {
    position: fixed; /*Отсоединяем контейнер от страницы и фиксируем в окне браузера*/
    width: 100%; /*Ширина на все окно браузера*/
    height: 100%; /*Высота на все окно браузера*/
    background-color: #8c5ebb;
    display: flex; /*Превращаем контейнер в flexBox*/
    flex-direction: column; /*Расставляем дочерние элементы по вертикали*/
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #5b3c79;
}

/*------------store*/
.store{
    background-image: url("assets/backgrounds/store.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: space-around;
}
.chest {

    width: 100px;
    height: 100px;
    background-image: url("assets/backgrounds/chest.png");
    background-size: cover;
    font-size: 2vw;
}

.map {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-image: url("assets/backgrounds/map.gif");
    height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: space-around;
}

.heroesBG{
    background-image: url("assets/backgrounds/heroes.gif");
    background-position: center;
    background-size: cover;
    justify-content: space-around;
    height: 100%;
}
.heroes {
    display: flex;
    flex-wrap: wrap;
}

.BattleHero img {
    width: 23vw;

}
.BattleHero{
    width: 33%;
    max-height: 33%;
}


.main {
    overflow-y: auto; /*Вертикальная полоса прокрутки для текста*/
    text-align: justify; /*выравнивание текста по левому и правому краям*/
    flex-grow: 1; /*Предписываем занять все свободное пространство*/
    background-color: #191d24;
    background-image: url("assets/backgrounds/map.gif");
    background-size: cover;

    background-position: unset;
}

.footer {
    display: flex;
    height: 7vw;
    background-color: #5b3c79;
    justify-content: space-around;
    flex-grow: 0; /*Запрещаем увеличиваться*/
    flex-shrink: 0; /*Запрещаем сжиматься*/
    flex-basis: auto;
    text-align: center;
    line-height: 7vw
}

.footer a {
    color: #e3e3e3;
    border: 3px solid #775295;
    width: 34%;
    text-align: center;
    height: 100%;

}

.footer a:hover {
    background-color: #885dba;
    transition: 0.3s;
    margin-top: -5px;
}

.hero {
    min-width: 50px;
    border: 2px solid #6b4a8e;
    width:5vw;
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    margin: 1vw;
    position: center;
    text-align: center;
    justify-content: center;
}
.immortal{
    width: 80vw;
}

.hero:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: -0.1vw 0.5vw 2vw -0.2vw;
    transition: 0.3s;
    position: marker;
}

.hp__bar {
    margin: 0 auto;
    display: flex;
    text-align: center;
    width: 15%;
    color: #21bf21;
    font-size: 2vw;
    font-weight: bold;
    justify-items: center;
}

.BGWrap {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-size: contain;
}


.CampaignBG {
    background-image: url("assets/backgrounds/campaign.png");

}

.immortalBG {
    background-image: url("assets/backgrounds/immortal.gif");
    background-size: cover;
;
}

.everlastBG {
    background-image: url("assets/backgrounds/everlast.gif");
  background-size: cover;
    background-position:center;

}

.BG__heroes {
    align-self: end;
    display: flex;
    margin-bottom: 5vw;
    align-content: end;
    align-items: end;
    width: 50%;

}

.BG__enemies{
    align-self: end;
    display: flex;
    margin-bottom: 5vw;
    align-content: end;
    align-items: end;
    width: 50%;
    justify-content: right;
}
.damage_counter{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}
.stats {
    font-size: 1.3vw;
    display: none;
    position: absolute;
    margin-top: 20vw;
    background-color: rgb(138, 90, 189, 50%);
    border: 0.4vw solid #451672;
}

.item__stats {
    display: none;
    position: absolute;
    margin-left: 5vw;
    background-color: rgb(138, 90, 189, 50%);
    border: 0.4vw solid #451672;
    color: #e7e7e7;
    padding: 1vw;
    text-transform: none;
    width: 10vw;
}

.item {
    transition: 0.5s;
    padding: 0.5vw 1vw;
    color: #97c8ef;
    text-transform: uppercase;
}

.item:hover {
    color: #ffffff;
}

.additionalStats {
    color: #148b14;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color: #e3e3e3;
    text-align: center;
    background-color: #191d24;
    margin: auto;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    border: 0.2vw solid #614382;
    font-size: 4vw;

}

.modal__button {
    color: #e3e3e3;
    width: 40%;
    height: 50px;
    background-color: #44858b;
    font-size: 2vw;
    border: 0.2vw solid #614382;
    border-radius: 5px;
}

.level__option {
    display: flex;
    justify-content: space-around;
}

.level__option a {
    color: #a86de2
}

.level__option a:hover {
    color: #dcb2ff;
    transition: 0.5s;
}

.stage {
    position: absolute;
    width: 100%;
    text-align: center
}

@media (max-width: 770px) {
    .stats {
        font-size: 2.5vw;
    }

    .item__stats {
        margin-left: 10vw;
        width: 20vw;
    }
}
@media (min-width: 1090px) {
    .immortalBG{
        background-size: contain;
    }
}
@media (max-width: 1360px) {
    .everlastBG{
        margin: 0;
        background-size: cover;
        background-position-y: 0;

    }
}
@media (max-width: 1280px) {
    .CampaignBG{
        background-size: cover;
        padding-bottom: 10vw;
    }
}
@media (max-width: 450px) {
    body{
        font-size: 8vw;
    }
    .footer{
        height: 10vw;
        align-items: center;
        line-height: 10vw;
    }
    .modal-content{
        font-size: 6vw;
        width: 80%;
    }
    .modal__button{
        font-size: 7vw;
    }
    .stats{
        font-size: 5vw;
    }
    .chest{font-size: 8vw}

    .BattleHero img{
        width: 37vw;
    }
    .immortal{
        margin-right: -30vw;
        width: 120vw;

    }
.enemy{
    width: 30%;
}
    .enemy img{
        width: 30vw;
    }
}